<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add a question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
<div class="jumbotron">
<h1 class="display-4">New Option</h1><br></div>
<p>
	<form action="#" th:action="@{/saveoption/{id}(id=${questionId})}" th:object= ${option} method="post">
	<input type="hidden" th:field="${option.optionId}" class="form-control"/>
	<p>Write a new option here: <input type="text" th:field="${option.optionText}"/></p>
	
	<p><input type="submit" class="btn btn-success" value="Submit" /> <input type="reset" class="btn btn-success" value="Reset" /></p>
	</form> 
</body>
</html>