<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
<title>Add a question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="jumbotron">
<h1 class="display-4">New Question</h1><br></div>
<p>
	<form action="#" th:action="@{/savequestion}" th:object= ${question} method="post">
	<input type="hidden" th:field="${question.questionId}" class="form-control"/>
	<p>Write your question here: <input type="text" th:field="${question.questionText}"/></p>
	
	<p><input type="submit" class="btn btn-success" value="Submit" /> <input type="reset" class="btn btn-success" value="Reset" /></p>
	</form> 
</body>
</html>