
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Login </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="text-center">
    <div class="container">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div class="form-group"><label for="username"> Username : <input type="text" name="username"/> </label></div>
            <div class="form-group"><label for="password"> Password: <input type="password" name="password"/> </label></div>
            <button type="submit" class="btn btn-primary" value="Sign In">Sign in</button>
        </form>
        <p th:text="${user}"></p>
        <a href="/adduser" class="btn btn-success">Sign up</a>
        </div>
       
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    </body>
</html>