<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
<title>Questionlist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="col-md-4">
	<h1 class="display-4">Questions</h1>
</div>
	<table class="table table-striped">
				<tr>
				<th><p class="lead">Title</th>
				<th><p class="lead">Description</th>
			</tr>
			
				<tr th:each="questionnaire : ${questionnaires}">
		<td th:text="${questionnaire.questionnaireTitle}">Title</td>
		<td th:text="${questionnaire.questionnaireDescription}">Description</td>
		<td th:text="${questionnaire.questionnaireDescription}">Description</td>
		</tr>
		</table>
	<br>
		<a href="/newquestion" class="btn btn-success">Add a new question</a>
</body>
</html>