<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
<title>Questionlist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="jumbotron">
	<h1 class=display-4 th:text="${questionnaire.questionnaireTitle}"></h1>
	
	<h3 th:text="${questionnaire.questionnaireDescription}"></h3>
		</div>
	<table class="table table-striped">
		
		<tr th:each="question : ${questions2}">
			<td th:text="${question.questionText}">question</td>
		</tr>
	</table>
		
	<br>
		<a th:href="@{/newquestion/{id}(id=${questionnaire.questionnaireId})}" class="btn btn-success">Add a new question</a>
</body>
</html>