<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Questionlist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="col-md-4">
	</div>
	
	<select th:field="*{questionnaire}">
    <option th:value="${questionnaire.questionnaireId}" th:text="${questionnaire.questionnaireTitle">Question</option>
     <option th:value="${questionnaire.questionnaireId}" th:text="${questionnaire.questionnaireTitle">Description</option>
	</select>
	<br>
		<a href="/newquestion" class="btn btn-success">Add a new question</a>
</body>
</html>