<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>REST Homepage</title>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
    <div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/"></a>
	     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="/">Home</a>
	      <a class="nav-item nav-link" href="/questionnaires">Your Questionnaires</a>
	      <a class="nav-item nav-link active" href="/resthomepage"><span class="sr-only">(current)</span>REST Homepage</a>
	    </div>
	  </div>
	</nav>
	</div>
	
	<h1>REST Homepage</h1>
	<p>
	(Test with <a href="https://www.getpostman.com/" target="_blank">PostMan</a>/etc.)
	Here are all URLS for the App. URLS work like: https://questionnaireapp.herokuapp.com/allanswers
	SO WRITE https://questionnaireapp.herokuapp.com + END POINT (EXAMPLE/allanswers)
	</p>
	
		<h2>All Questions</h2>
	<p>
	<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=http://questionnaireapp.herokuapp.com/api/questions>/api/questions</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		[{
			"questionText": "Miten kurssien työelämäyhteys tuotu esille?",
			"questionType": "text"
		},
		{
			"questionText": "Oletko suorittanut kursseja",
			"questionType": "text"
		},
		{
			"questionText": "Mikä näistä kuvaa parhaiten Haaga-Helian kurssitarjontaa",
			"questionType": "text"
		}]
		</code>
	</pre>
	
		<h2>Question By Id</h2>
	<p>
	<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/api/questions/5>/api/questions/{id}</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		{
			"questionId" : 5,
			"questionText" : "Ovatko tilat viihtyisät?",
			"questionnaire" : {
				"questionnaireId" : 1
		}
		}
		</code>
	</pre>
			<h2>Get options</h2>
	<p>
	<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/api/options>/api/options</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		[{
			"question" : {
				"questionId" : 5
		},
			"optionId" : 7,
			"optionText" : "valinta1"
		},
		{
			"question" : {
				"questionId" : 5
		},
		{
			"optionId" : 8,
			"optionText" : "valinta2"
		}]

		</code>
	</pre>
						<h2>Get option by Id</h2>
	<p>
	<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/api/options/7>/api/options/{id}</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		{
			"question" : {
			"questionId" : 5
		},
			"optionId" : 7,
			"optionText" : "valinta1"
		}

		</code>
	</pre>
	
				<h2>Get options by Question Id</h2>
	<p>
	<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/api/questions/5/options>/api/questions/{id}/options</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		[{
			"question" : {
				"questionId" : 5
		},
			"optionId" : 7,
			"optionText" : "valinta1"
		},
		{
			"question" : {
				"questionId" : 5
		},
			"optionId" : 8,
			"optionText" : "valinta2"
		}]

		</code>
	</pre>
		<h2>URL for save answer</h2>
	<p>
		<strong>Method:</strong> POST <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/saveanswer>/saveanswer</a></strong>
			
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
	[ {
  "answerId" : null,
  "answerText" : "Campusonline.fi:n kautta",
  "question" : {
    "questionId" : 7
    }
  },
  {
  "answerId" : null,
  "answerText" : "Virtuaalisesti",
  "question" : {
    "questionId" : 8
  }
} 
]
		</code>
	</pre>
	
		<h2>URL for fetching all Answers from database</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href="https://questionnaireapp.herokuapp.com/allanswers">/allanswers</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		
		
		[
    {
        "answerId": 33,
        "answerText": "Kurssilla on käyty yritysvierailulla",
        "questionId": 7
    },
    {
        "answerId": 34,
        "answerText": "Campusonline.fi:n kautta",
        "questionId": 8
    }
		]
	    
	    
		</code>
	</pre>
	
	<h2>All Questionnaires</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/api/questionnaires>/api/questionnaires</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		
		
		[{
			"questionnaireId": 1,
			"questionnaireTitle": "Kurssitarjonta",
			"questionnaireDescription": "Tutkimme Haaga-Helian kurssitarjonnan työelämäyhteyttä sekä opiskelijoiden tyytyväisyyttä kurssivalikoimaan"
			},
		{
			"questionnaireId": 2,
			"questionnaireTitle": "Tilojen viihtyisyys2",
			"questionnaireDescription": "Tutkitaan tilojen xx2"
		}]
		
		
		</code>
	</pre>
	
</body>
</html>