<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>REST Homepage</title>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
    <div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/"></a>
	     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="/">Home</a>
	      <a class="nav-item nav-link" href="/questionnaires">Your Questionnaires</a>
	      <a class="nav-item nav-link active" href="/resthomepage"><span class="sr-only">(current)</span>REST Homepage</a>
	    </div>
	  </div>
	</nav>
	</div>
	
	<h1>REST Homepage</h1>
	<p>
	(Test with <a href="https://www.getpostman.com/" target="_blank">PostMan</a>/etc.)
	Here are all URLS for the App. URLS work like: https://questionnaireapp.herokuapp.com/allanswers
	SO WRITE https://questionnaireapp.herokuapp.com + END POINT (EXAMPLE/allanswers)
	</p>
	
		<h2>All Questions</h2>
	<p>
	<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=http://questionnaireapp.herokuapp.com/api/questions>/api/questions</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		[{
			"questionId": 6,
			"questionText": "Miten kurssien työelämäyhteys on tuotu esille?",
			"questiontypeName": "checkbox"
		},
		{
			"questionId": 7,
			"questionText": "Oletko suorittanut kursseja",
			"questiontypeName": "checkbox"
		},
		{
			"questionId": 10,
			"questionText": "5. Kuinka todennäköisesti suosittelisit Haaga-Heliaa? (1 = en suosittele lainkaan, 10 = suosittelen lämpimästi)",
			"questiontypeName": "Skaala 1-10"
		}]
		</code>
	</pre>
	
		<h2>Question By Id</h2>
	<p>
	<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/api/questions/10>/api/questions/{id}</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		{
			"questionId" : 10,
			"questionText" : "5. Kuinka todennäköisesti suosittelisit Haaga-Heliaa? (1 = en suosittele lainkaan, 10 = suosittelen lämpimästi)",
			"questionnaire" : {
				"questionnaireId" : 1
		}
		}
		</code>
	</pre>
			<h2>Get options</h2>
	<p>
	<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/api/options>/api/options</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
	[
	    {
	        "optionId": 11,
	        "optionText": "Kurssilla on käyty yritysvierailulla",
	        "questiontype": {
	            "questiontypeId": 3,
	            "questiontypeName": "option"
	        }
	    },
	    {
	        "optionId": 20,
	        "optionText": ":D",
	        "questiontype": {
	            "questiontypeId": 4,
	            "questiontypeName": "checkbox"
	        }
	    },
	    {
	        "optionId": 33,
	        "optionText": "10",
	        "questiontype": {
	            "questiontypeId": 5,
	            "questiontypeName": "Skaala 1-10"
	        }
	    }
	]

		</code>
	</pre>
						<h2>Get option by Id</h2>
	<p>
	<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/api/options/11>/api/options/{id}</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		{
		    "optionId": 11,
		    "optionText": "Kurssilla on käyty yritysvierailulla",
		    "questiontype": {
		        "questiontypeId": 3,
		        "questiontypeName": "option"
		    }
		}

		</code>
	</pre>
	
				<h2>Get options by Question Id</h2>
	<p>
	<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/api/questions/6/options>/api/questions/{id}/options</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
	[
	    {
	        "optionId": 11,
	        "optionText": "Kurssilla on käyty yritysvierailulla",
	        "questiontype": {
	            "questiontypeId": 3,
	            "questiontypeName": "option"
	        }
	    },
	    {
	        "optionId": 12,
	        "optionText": "Yrityksen edustaja on käynyt luennoimassa kurssin aiheesta",
	        "questiontype": {
	            "questiontypeId": 3,
	            "questiontypeName": "option"
	        }
	    },
	    {
	        "optionId": 13,
	        "optionText": "Kurssin toimeksiantajana on ollut yritys",
	        "questiontype": {
	            "questiontypeId": 3,
	            "questiontypeName": "option"
	        }
	    },
	    {
	        "optionId": 14,
	        "optionText": "Opettaja on kertonut esimerkkejä yrityksistä, joissa opeteltavat metodit ovat käytössä",
	        "questiontype": {
	            "questiontypeId": 3,
	            "questiontypeName": "option"
	        }
	    }
	]

		</code>
	</pre>
		<h2>URL for save answer</h2>
	<p>
		<strong>Method:</strong> POST <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/saveanswer>/saveanswer</a></strong>
			
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
	[ 
	  {
	    "answerId" : null,
	    "answerText" : "Erinomaisesti",
	    "question" : {
	      "questionId" : 6
	    }
	  },
	  {
	    "answerId" : null,
	    "answerText" : "8",
	    "question" : {
	      "questionId" : 10
	    }
	  } 
	]
		</code>
	</pre>
	
		<h2>URL for fetching all Answers from database</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href="https://questionnaireapp.herokuapp.com/allanswers">/allanswers</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		
		
	[
	    {
	        "answerId": 34,
	        "answerText": "Kurssilla on käyty yritysvierailulla",
	        "questionId": 6
	    },
	    {
	        "answerId": 35,
	        "answerText": "Campusonline.fi:n kautta",
	        "questionId": 7
	    },
	    {
	        "answerId": 40,
	        "answerText": "Erinomaisesti",
	        "questionId": 6
	    }
	]
	    
	    
		</code>
	</pre>
	
	<h2>All Questionnaires</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/api/questionnaires>/api/questionnaires</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		
		
	[	
	    {
		"questionnaireId": 1,
		"questionnaireTitle": "Tutkimme Haaga-Helian kurssitarjonnan työelämäyhteyttä sekä opiskelijoiden tyytyväisyyttä kurssivalikoimaan",
		"questionnaireDescription": "Kyselyyn vastaaminen vie 2-3 minuuttia. Kiitos arvokkaista vastauksistasi!"
	    }
	]
		
		
		</code>
	</pre>
	
</body>
</html>