<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
 	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <title>REST Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/"/>
	     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="/">Home</a>
	      <a class="nav-item nav-link" href="/questionnaires">Your Questionnaires</a>
	      <a class="nav-item nav-link active" href="/resthomepage"><span class="sr-only">(current)</span>REST Homepage</a>
	    </div>
	  </div>
	</nav>
	</div>
	
	<h1>REST Homepage</h1>
	<p>
	(Test with <a href="https://www.getpostman.com/" target="_blank">PostMan</a>/etc.)
	Here are all URLS for the App. URLS work like: https://questionnaireapp.herokuapp.com/allanswers
	SO WRITE https://questionnaireapp.herokuapp.com + END POINT (EXAMPLE/allanswers)
	</p>
	
		<h2>All Questions</h2>
	<p>
	<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/api/questions>/api/questions</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		[{
			"questionText": "Miten kurssien työelämäyhteys tuotu esille?",
			"questionType": "text"
		},
		{
			"questionText": "Oletko suorittanut kursseja",
			"questionType": "text"
		},
		{
			"questionText": "Mikä näistä kuvaa parhaiten Haaga-Helian kurssitarjontaa",
			"questionType": "text"
		}]
		</code>
	</pre>
	
		<h2>URL for save answer</h2>
	<p>
		<strong>Method:</strong> POST <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/saveanswer>/saveanswer</a></strong>
			
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		[{
	  "answerId" : null,
	  "answerText" : "tilat ovat viihtyisät",
	  "question" : {
	    "questionId" : 4
		}, 
		{
	  "answerId" : null,
	  "answerText" : "tilat ovat modernit",
	  "question" : {
	    "questionId" : 5
		}
		}]
		</code>
	</pre>
	
		<h2>URL for fetching all Answers from database</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href="https://questionnaireapp.herokuapp.com/allanswers">/allanswers</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		[{
	        "answerId": 6,
	        "answerText": "tilat ovat viihtyisät"
	            },
	    {
	        "answerId": 7,
	        "answerText": "tilat ovat modernit"
	    }]
		</code>
	</pre>
	
	<h2>All Questionnaires</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href=https://questionnaireapp.herokuapp.com/api/questionnaires>/api/questionnaires</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		
		[{
			"questionnaireId": 1,
			"questionnaireTitle": "Kurssitarjonta",
			"questionnaireDescription": "Tutkimme Haaga-Helian kurssitarjonnan työelämäyhteyttä sekä opiskelijoiden tyytyväisyyttä kurssivalikoimaan"
			},
		{
			"questionnaireId": 2,
			"questionnaireTitle": "Tilojen viihtyisyys2",
			"questionnaireDescription": "Tutkitaan tilojen xx2"
		}]
		</code>
	</pre>
	<!--  <h2>Question By Id</h2>
	<p>
		<strong> GET </strong>
		<strong> /questions/{id} </strong> 
		<strong><a href="/books/ISBN54321V">/books/ISBN54321V</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		{
			"isbn": "ISBN54321V",
			"title": "Elämäni muro",
			"author":"Matti Mörökölli",
			"year": 1902,
			"price": 399.99,
			"category": "poetry"
		}
		</code>
	</pre>
	<h2>New Book</h2>
	<p>
		<strong> POST </strong> 
		<strong> /books</strong> 
		(Test with <a href="https://www.getpostman.com/" target="_blank">PostMan</a>/etc.)
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
		{
			"isbn": "ISBN54321P",
			"title": "The love of my life",
			"author":"Cheesy Cheeseball",
			"year": 2012,
			"price": 7.99,
			"category": "romance"
		}
		</code>
	</pre>-->
	
	
</body>
</html>